body {
    background-image: url(../login_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#login_auth {
    position: center;
    text-align: center;
    margin-top: 232px;
}

#Google {
    position: static;
    margin-top: -192px;
    margin-left: 287px;
}

#Facebook {
    position: static;
    margin-top: -73px;
    margin-left: 466px;
}