#sidePanel {
    z-index: 1;
    position: fixed;
    top: 0;
    right: -300px; /* Initially hidden off-screen */
    width: 300px;
    height: 100%;
    background-color: #fff; /* Change this to your desired background color */
    transition: right 0.3s ease; /* Add transition for smooth animation */
}

    #sidePanel.open {
        right: 0; /* Slide the side panel into view */
    }

.cart-item-image {
    max-width: 100px; /* Adjust the value as needed */
    height: auto; /* Maintain aspect ratio */
}

.cart {
    max-height: 300px; /* Adjust the value as needed */
    overflow-y: auto;
}

.cart-items-container {
    padding-right: 15px; /* Add padding to prevent content from being covered by the scrollbar */
}
