@font-face {
    font-family: 'Kapakana';
    src: url('path/to/kapakana-font.woff2') format('woff2'), url('path/to/kapakana-font.woff') format('woff');
    /* Add additional font formats and paths as needed */
}

body {
    margin: 0;
    padding: 0;
    background-color: #FAEBDB;
}

.topnav img.logo {
    max-height: 40px; /* Adjust the maximum height for the logo */
    max-width: auto; /* Let the width adjust proportionally */
    vertical-align: middle;
}

.topnav {
    position: fixed; /* Change to fixed */
    top: 0;
    left: 0;
    width: 100%;
    background-color: #2E2118;
    padding: 4.5px 15px;
    z-index: 1000;
    overflow: hidden;
    transition: transform 0.3s ease; /* Add transition for smooth animation */
}


.topnav-right {
    float: right;
    padding-top: inherit;
    padding-bottom: inherit;
    vertical-align: middle;
}


.icon {
    margin-left: 20px;
    width: 30px;
    height: 30px;
    color: #f2f2f2;
    margin-right: 20px;
    text-decoration: none;
    font-size: 20px;
    transition: transform 0.3s ease;
}

    .icon:hover {
        transform: scale(1.2);
        cursor: pointer;
    }
#burger{
    margin-right:39px;

}
a.active {
    margin-left: 5px;
    font-family: Kapakana;
    font-size: 30px;
    color: white; /* Inherit color from parent */
    text-decoration: none; /* Remove underline */
    
}

.logo {
    margin-left: 20px;
    transition: transform 0.3s ease;
}

    .logo:hover {
        transform: scale(1.2);
    }

    .logo:hover {
        cursor: pointer;
    }

p {
    font-size: 20px;
}

.topnav.hidden {
    transform: translateY(-100%);
}

.topnav.visible {
    transform: translateY(0);
}



/* Mobile view */


@media screen and (max-width: 730px) {
    .topnav {
        padding: 5px 5px; /* Reduce padding */
    }

    .icon {
        display: none; /* Hide icons */
    }

    .hamburger-menu {
        display: inline-block; /* Display hamburger menu icon */
        margin-right: 20px;
        transition: transform 0.3s ease !important; /* Add !important to override other transition properties */
    }

        .hamburger-menu:hover {
            transform: scale(1.2); /* Scale up the icon on hover */
        }

    /* Remove padding and margin for img.logo */
    img.logo {
        padding: 0;
        margin: 0;
        margin-top: 5px;
        margin-left: 5px;
    }

    .active {
        font-size: 80px; /* Adjust font size for mobile */
        margin-top: 20px; /* Move the active link down by 10px */
    }
}
