@font-face {
    font-family: 'Kapakana';
    src: url('path/to/kapakana-font.woff2') format('woff2'), url('path/to/kapakana-font.woff') format('woff');
    /* Add additional font formats and paths as needed */
}


body {
    margin: 0;
    padding: 0;
    background-color: #FAEBDB;
}

.topnav img {
    max-height: 50px;
    max-width: 100px;
    vertical-align: middle;
}


.topnav {
   
    position: fixed; /* Change to fixed */
    top: 0;
    left: 0;
    width: 100%;
    background-color: #2E2118;
    padding: 6.5px 20px;
    z-index: 1000;
    overflow: hidden;
    transition: transform 0.3s ease; /* Add transition for smooth animation */
    
}

    .topnav a {
        color: #f2f2f2;
        padding: 10px 10px;
        text-decoration: none;
        font-size: 20px;
    }

.topnav-right {
    float: right;
    padding-top: inherit;
    padding-bottom: inherit;
    vertical-align: middle;
}

.icon {
    margin-left: 15px;
    width: 30px;
    height: 30px;
}

/*--------------------------------------------------------------------------------------------*/

/*TESTING*/


.hamburger-menu {
    display: none;
    margin-right: 30px ;
}

@media screen and (max-width: 730px) {
    .icon {
        display: none; /* Hide icons */

    }

    .hamburger-menu {
        display: inline-block; /* Display hamburger menu icon */
    }
}

/*--------------------------------------------------------------------------------------------*/

/* icon animation */

.icon {
    margin-left: 20px;
    transition: transform 0.3s ease;
}

    .icon:hover {
        transform: scale(1.2);
        cursor: pointer;
    }

/* icon animation */


.topnav a.active {
    font-family: Kapakana;
    font-size: 40px;
}

/*--------------------------------------------------------------------------------------------*/
/* Logo animation */


.logo {
    margin-left: 20px;
    transition: transform 0.3s ease;
}

    .logo:hover {
        transform: scale(1.2);
    }

    .logo:hover {
        cursor: pointer;
    }
/* Logo animation */
/*--------------------------------------------------------------------------------------------*/


p {
    font-size: 20px;
}


/* NAV HIDDEN animation */
.topnav.hidden {
    transform: translateY(-100%);
}

.topnav.visible {
    transform: translateY(0);
}
